<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>conifg.Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDelete_theDeleted</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDelete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyGet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySave</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySave_wrong_card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyGet_deleted_card</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
