<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:00:52</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test.test()[pri:0, instance:conifg.Test@5034c75a]">&gt;&gt;test</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:01:02</td>   <td>9683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifyDelete()[pri:0, instance:conifg.Test@5034c75a]">verifyDelete</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:01:04</td>   <td>11905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifyDelete_theDeleted()[pri:0, instance:conifg.Test@5034c75a]">verifyDelete_theDeleted</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:01:01</td>   <td>8889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifyGet()[pri:0, instance:conifg.Test@5034c75a]">verifyGet</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:01:04</td>   <td>11396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifyGet_deleted_card()[pri:0, instance:conifg.Test@5034c75a]">verifyGet_deleted_card</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:00:53</td>   <td>965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifyHeader()[pri:0, instance:conifg.Test@5034c75a]">verifyHeader</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:01:01</td>   <td>8292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifySave()[pri:0, instance:conifg.Test@5034c75a]">verifySave</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/01/19 16:01:05</td>   <td>12445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifySave_wrong_card()[pri:0, instance:conifg.Test@5034c75a]">verifySave_wrong_card</td> 
  <td>main@1580893732</td>   <td></td> </tr>
</table>
